NODE_ENV=development
PORT=4005

KCB_BASE_URL=https://uat.buni.kcbgroup.com/fundstransfer/1.0.0
KCB_AUTH_URL=https://accounts.buni.kcbgroup.com/oauth2
KCB_CONSUMER_KEY=
KCB_CONSUMER_SECRET=

KCB_COMPANY_CODE=
KCB_DEBIT_ACCOUNT_NUMBER=
KCB_TRANSACTION_TYPE=
KCB_CURRENCY=KES
KCB_CALLBACK_URL=http://localhost:4005/webhooks/kcb